body{
    margin: 0;
    padding: 0;
    max-width: 100vw;
}
.container{
    margin: 10px;
    display: flex;
}

.noteBox{
    width: 250px;
    position: absolute;
    top: 12px;
    left: 20px;
    background: #ffffff;
    box-shadow: 2px 2px 4px rgb(116, 116, 116);
}
.noteHolder{ 
    padding: 0px 4px;
    background: blueviolet;
    cursor: grab;
    color: white;
display: flex;
    justify-content: space-between;
}

textarea:focus{
    outline: none;
}
.add-btn{
    padding: 12px;
    margin-left: auto;
    border: none;
}
.emptyNotes{
    position: absolute;
    top: 12px;
    margin-left: 12px;
    font-size: 20px;
}
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }